body {
	font-family: sans-serif;
	background-color: #f7f7f1;
	background: url("../img/bg.png");
	margin: 0;
	padding: 0;
}

@media print {
	.no-print {
		display: none;
	}
	.experience, .new-page {
		page-break-before: always;
	}
}
@media screen {
	.only-print {
		display: none;
	}
}

h1 {
}
h2 {
}
h3 {
	margin-bottom: 0.6em;
	border-bottom: 1px solid #AAA;
	margin-top: 2em;
}
h4 {
	margin: 0;
	margin-top: 1em;
}
ul li, span, td, th, p  {
}
ul {
	margin: 0;
}
img {
	border-width: 0;
}

a.local-link:link {
	border-bottom: 1px dashed #0000FF;
	color: #0000FF;
	text-decoration: none;
}

.main-block {
	max-width: 1000px;
	height: 100%;
	padding: 10px;
	padding-right: 15px;
	border: 0px solid #000;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.general {
  float: left;
  width: 60%;
}

.thumb {
  margin-bottom: 20px;
  width: 250px;
  border: 1em solid white;
  background-color: white;
}
.photo {
	border: 1px solid #000;
}

.certificate {
	border: 1px solid #000;
	width: 170px;
	height: 120px;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
	padding: 1em 0.5em;

  float: left;
}
.clear-both {
	clear: both;
}

.technologies, .descriptions {
	border-collapse: collapse;
}
.technologies td, .technologies th, .descriptions td, .descriptions th {
	border: 1px solid black;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
}
.descriptions th {
	background-color: #E0E0FF;
}
.single-line {
	white-space: pre;
	font-size: 80%;
}
.section {
	text-align: center;
	background-color: #E0FFE0;
}
.pull-request td {
	background-color: #E0FFE0;
}
.technologies .left-col {
	width: 300px;
}
.technologies .right-col {
	width: 120px;
}
.technologies td.right-col {
	text-align: right;
}
.social {
  float: right;
  width: 35%;
  margin-left: 5%;
}
.social-top {
	float: right;
	margin-left: 3%;
	width: 35%;
}
.right {
	float: right;
}

.contact-list {
	padding-left: 0.5em;
}
.custom-icons {
	list-style: none outside none;
	margin: 4px 0 4px 0;
}
.custom-icons img {
	padding-right: 0.5em;
	clear: left;
	float: left;
	width: 16px;
	height: 16px;
}

.footer {
	font-weight: bold;
	font-size: 0.8em;
	font-family: sans-serif;
	margin: 10px auto;
	width: 200px;
	text-align: center;
}
